$bg0t: rgba(23, 23, 23, 0.9);
$bg0: #171717;
$bg1: #181818;
$bg2: #1c1c1c;
$bg3: #252525;
$fg0: #cdcdcd;
$fg1: #dcdcdc;

$green: #678839;
$blue: #537f89;
$purple: #905383;

$acc: $blue;

* {
  text-shadow: none;
  font-family: Noto Sans;
}

button {
  box-shadow: none;
  border: none;
  background: transparent;
  border-radius: 0px;
  outline: none;
}

.superscript {
  font-size: 75%;
}

icon {
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
}

levelbar * {
  border: none;
  background-color: transparent;
}

window.bar {
  background: $bg0;
  color: $fg0;

  %module-wrapper {
    font-size: 87.5%;
    border-radius: 999999px;
    padding: 0 8px;
    margin: 6px 8px;
    color: $fg1;
    background: $bg3;
  }

  %level-bar {
    levelbar block.empty {
      margin: 0.5em 0;
      background-color: $bg2;
      border-radius: 9999999px;
    }

    levelbar block.filled {
      margin: 0.5em 2px;
      border-radius: 9999999px;
      background-color: $acc;
    }
  }

  .audio-level {
    @extend %module-wrapper;

    icon {
      font-size: 125%;
      margin: 0 4px;
    }
  }

  .battery-level {
    @extend %module-wrapper;
    @extend %level-bar;

    icon {
      font-size: 110%;
    }
  }

  .date {
    font-weight: bold;
  }

  .launcher {
    font-size: 130%;
    padding: 0 10px;
    margin: 0 0.5em;
    border-radius: 9999999999px;
    background: $purple;
    color: $fg1;
  }

  .sys-tray {
    @extend %module-wrapper;

    .sys-tray-item {
      font-size: 110%;
      padding: 0px 0.2em;
      margin: 0 0.2em;
      -gtk-icon-shadow: none;
      -gtk-icon-effect: none;
    }
  }

  .wss {
    button {
      border-color: transparent;
      font-weight: bold;
      font-size: 90%;
      padding: 0 5px;
      margin: 0.4em 0.2em;
      border-radius: 99999px;
      color: $fg1;
    }

    .active {
      color: $bg1;
      background: $fg0;
    }

    .inactive {
      color: $fg0;
      background: $bg3;
    }
  }

  .win-title {
    padding-left: 0.75em;
  }
}
