.microphone-progress {
    min-height: 5px;
    padding: 0px;
    border-radius: 99px;

    trough {
        min-height: 4px;
        min-width: 0px;
        border-radius: 99px;
        background-color: $bar-bbg;
    }

    progress {
        min-height: 8px;
        min-width: 4px;
        border-radius: 99px;
        border-radius: 99px;
        background-color: $pink;
    }
}

.volume-progress {
    min-height: 5px;
    padding: 0px;
    border-radius: 99px;

    trough {
        min-height: 4px;
        min-width: 0px;
        border-radius: 99px;
        background-color: $bar-bbg;
    }

    progress {
        min-height: 8px;
        min-width: 4px;
        border-radius: 99px;
        border-radius: 99px;
        background-color: $turquoise;
    }
}

.volume-progress-mute {
	@extend .volume-progress;

    progress {
        background-color: $nord3;
    }
}
