$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

$bar-bg: $nord1;
$bar-bbg: $nord0;
$bar-fg: $nord4;
$bar-ffg: $nord6;

$red: $nord11;
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$turquoise: $nord7;
$cyan: $nord8;
$light-blue: $nord9;
$blue: $nord10;
$pink: $nord15;

$button-bg: transparent;
$button-bg-active: transparent;
