@keyframes battery-critical {
	0%   {background: $bar-bbg;}
	25%  {background: $red;}
	50%  {background: $bar-bbg;}
	75%  {background: $red;}
	100% {background: $bar-bbg};
}

@keyframes battery-charging {
	0%		{color: $bar-bbg;}
	100%	{color: $yellow;}
}

.sys-label {
	color: $bar-ffg;
	font-size: 12pt;
	font-weight: bold;
}

.sys-value {
	color: $bar-fg;
	font-size: 11pt;
}

.sys-icon {
	color: $bar-fg;
	font-family: "Symbols Nerd Font";
	font-size: 11pt;
}

.temperature-progress {
	color: $orange;
	background: $bar-bbg;
}

.memory-progress {
	color: $yellow;
	background: $bar-bbg;
}

.cpu-progress {
	color: $green;
	background: $bar-bbg;
}

.battery-progress {
	color: $light-blue;
	background: $bar-bbg;
}

.battery-progress-critical {
	color: $blue;
	background: $bar-bbg;
	animation: battery-critical;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.battery-icon {
	font-size: 11pt;
	font-family: "Symbols Nerd Font";
	color: $bar-bbg;
}

.battery-icon-charging {
	font-size: 9pt;
	color: $yellow;
}
