.workspaces {
	padding-left: 16px;
	padding-right: 16px;
}

.ws-active-wrapper {
	background: transparent;
	border: 0px;
	box-shadow: none;
	text-shadow: none;
	outline: 0px;
}

.ws {
	font-size: 11pt;
	border: 0px;
	border-radius: 100%;
	box-shadow: none;
	text-shadow: none;
	font-weight: bold;

}

.ws-active {
	@extend .ws;
	color: $bar-ffg;
	background: $blue;
}

.ws-inactive {
	@extend .ws;
	color: $bar-fg;
	background: $bar-bg;
}

.ws-empty {
	@extend .ws;
	color: $bar-bg;
	background: $bar-bbg;
}
